/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #701065;
    background-color: #f4f4f4;
}

/* Header Section */
header {
    background-color: #ac2f7c;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header h1 {
    margin-top: 20px;
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Section Styling */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Projects */
.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.5rem;
    color: #333;
}

/* Skills */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
